/* Empty. Add your own CSS if you like */

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
}

.leaflet-control-layers.leaflet-control {
    display: none;
}

.button-float {
    background: white !important;
    color: black!important;
    z-index: 12000 !important;
    position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
}

.button-float:hover {
    -webkit-transform: translate3d(0, -1px, 0) !important;
    transform: translate3d(0, -1px, 0) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    background: white !important;
}

.modal-layer {
    width: 60%;
    height: 10%;
    top: 20%;
    bottom: 70% !important;
    left: 20%;
    right: 20%;
    min-height: 0
}